<div class="container">
  <h1 align='center' class="a">MP3</h1>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <%= link_to "<button class='btn btn-primary btn-lg'>Music</button>".html_safe ,"/musics" %>
    </div>
    
    <div class="col-md-auto">
      <%= link_to "<button class='btn btn-primary btn-lg'>Playlist</button>".html_safe ,"/playlists" %>
    </div>
    
  </div>
</div>
