<p class="h1" > Edit </p>

<%= render 'form' ,playlist: @playlist %>

<p class="h4"> list </p>

<div class="list-group" style="width:300px">
  <% @playlist.musics.each do |p_m| %>
    <div class="list-group-item">
    <h5 stlye="font-weight:bold"> <%= p_m.name %> </h5>
    <p> <%= p_m.artist %> </p>
    <%= link_to "x" ,delete_music_from_playlist_playlist_path(music_id: p_m.id),
      method: :patch, data: { confirm: 'Are you sure?' }, :class=>"btn btn-dark btn-sm" %>
    </div>
  <% end %>
</div>

