<div class="right-side">
  <%= link_to '<button class="btn btn-secondary">Back</button>'.html_safe, "/musics" %>
</div>
<div class="container">
  <h1>New Playlist</h1>
  <%= render 'form', playlist: @playlist %>
</div>
