<div class="right-side">
  <%= link_to "<button class='btn btn-sm btn-secondary'>back</button>".html_safe ,musics_path %>  
</div>
<div class="container">
  <h1>Editing Music</h1>

  <%= render 'form_edit', music: @music %>

</div>


